<!DOCTYPE html>
<html>
  <head>
    <title>PDF Example</title>
    <style>
      body{ font-family:arial; }
      h1{ color:#0066cc; }
    </style>
  </head>
  <body>
    <h1>Invoice : #<%= invoiceNumber %> </h1>
    <p>Customer : <%= customer %></p>
    <p>Product : <%= product %></p>
    <p>Price : <%= price %></p>
    
  </body>
</html>